{% load static %}
{% include 'includes/header.html' %}
{% include 'includes/navbar.html' %}
<div class="container">
	<h1>Developers</h1>
	<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="team-pic">
			<img src="{% static 'img/app/team/toppy.jpg' %}" class="img-circle">
			<h3>Noppanut Ploywong</h3>
			<p>Student ID: 59070082</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="team-pic">
			<img src="{% static 'img/app/team/jeen.jpg' %}" class="img-circle">
			<h3>Weraphat Subsomboon</h3>
			<p>Student ID: 59070162</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="team-pic">
			<img src="{% static 'img/app/team/joe.jpg' %}" class="img-circle">
			<h3>Sattaya Singkul</h3>
			<p>Student ID: 59070173</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-3">
		<div class="team-pic">
			<img src="{% static 'img/app/team/mook.jpg' %}" class="img-circle">
			<h3>Apichaya Kampo</h3>
			<p>Student ID: 59070186</p>
		</div>
	</div>

	</div>
</div>

{% include 'includes/footer.html' %}

</body>
</html>
