{% load static %}
{% include 'includes/header.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
	<div class="row">
		<h1>PokeEZ</h1>
		<h1 class="header-small"><small>ระบบวิเคราะห์การปรากฎของโปเกม่อนแต่ละชนิดในแถบทวีปอเมริกา</small></h1>
	</div>
	<div class="row">
		<img src="{% static 'img/app/overview-map.png' %}" alt="Pokemon Heatmap" class="img-thumbnail">
	</div>
	<div class="row">
		<p class="overview-p">
		<b>PokeEZ</b> เป็นระบบวิเคราะห์การปรากฎของโปเกม่อนในเกม <i>Pokemon Go</i> โดยได้นำชุดข้อมูลที่เป็น Open Data มาจาก <a href="https://www.kaggle.com/semioniy/predictemall">Kaggle</a> ซึ่งได้บันทึกข้อมูลการปรากฎของโปเกม่อนในอดีต เป็นจำนวนประมาณ 293,000 เรคคอร์ด ประกอบไปด้วย พิกัดตำแหน่ง, วัน, เวลา, ลักษณะภูมิประเทศ, เมือง, สภาพอากาศ, อุณหภูมิ, นอกเมือง-ในเมือง, โปเกม่อนชนิดอื่นๆ ที่ปรากฎก่อนหน้า เป็นต้น โดย <b>PokeEZ</b> ได้นำข้อมูลเฉพาะในส่วนของทวีปอเมริกา มาทำการวิเคราะห์หาความสัมพันธ์ระหว่างโปเกม่อนแต่ละตัวกับตัวแปรต่าง ๆ และแสดงผลในรูปแบบของแผนภูมิเพื่อให้ง่ายต่อการเข้าใจ อีกทั้งยังได้นำข้อมูลพิกัดตำแหน่ง มาแสดงผลในรูปของ Heat Map ทำให้ทราบถึงโอกาสในการพบโปเกม่อนในพื้นที่ต่าง ๆ อย่างชัดเจนยิ่งขึ้น โดยตัวแปรที่ได้กล่าวไว้ข้างต้น แบ่งเป็น 6 ด้าน ได้แก่
		</p>
	</div>
	<div class="row">
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA1"><img src="{% static 'img/app/DA1.png' %}" data-toggle="modal" data-target="#DA1"></a>
		  <div class="caption">
		    <h4 align="center">เมืองที่พบมากที่สุด</h4>
		  </div>
		</div>
		</div>
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA2"><img src="{% static 'img/app/DA2.png' %}" data-toggle="modal" data-target="#DA2"></a>
		  <div class="caption">
		    <h4 align="center">ช่วงเวลาที่พบ</h4>
		  </div>
		</div>
		</div>
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA3"><img src="{% static 'img/app/DA3.png' %}" data-toggle="modal" data-target="#DA3"></a>
		  <div class="caption">
		    <h4 align="center">ในเมือง - นอกเมือง</h4>
		  </div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA4"><img src="{% static 'img/app/DA4.png' %}" data-toggle="modal" data-target="#DA4"></a>
		  <div class="caption">
		    <h4 align="center">สภาพอากาศ</h4>
		  </div>
		</div>
		</div>
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA5"><img src="{% static 'img/app/DA5.png' %}" data-toggle="modal" data-target="#DA5"></a>
		  <div class="caption">
		    <h4 align="center">โปเกม่อนที่ปรากฎก่อนหน้า</h4>
		  </div>
		</div>
		</div>
		<div class="col-md-4">
		<div class="thumbnail">
		  <a href="#DA6"><img src="{% static 'img/app/DA6.png' %}" data-toggle="modal" data-target="#DA6"></a>
		  <div class="caption">
		    <h4 align="center">วันและเวลาที่พบ</h4>
		  </div>
		</div>
		</div>
	</div>

	<!-- Modal DA1 -->
	<div class="modal fade" id="DA1" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">เมืองที่พบมากที่สุด</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA1.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal DA2 -->
	<div class="modal fade" id="DA2" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">ช่วงเวลาที่พบ</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA2.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal DA3 -->
	<div class="modal fade" id="DA3" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">ในเมือง - นอกเมือง</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA3.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal DA4 -->
	<div class="modal fade" id="DA4" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">สภาพอากาศ</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA4.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal DA5 -->
	<div class="modal fade" id="DA5" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">โปเกม่อนที่ปรากฎก่อนหน้า</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA5.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal DA6 -->
	<div class="modal fade" id="DA6" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">วันและเวลาที่พบ</h4>
	      </div>
	      <div class="modal-body">
	        <div>
			  <img src="{% static 'img/app/DA6.png' %}" style="width: 100%;">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row">
		<p class="overview-p">
			จากการวิเคราะห์ข้อมูลในข้างต้น เป็นการวิเคราะห์ตัวแปรในการเกิดของโปเกม่อนแต่ละชนิด ซึ่งทำให้เราสามารถวิเคราะห์ข้อมูลที่น่าสนใจอีกชุดหนึ่งออกมาได้ คือ โปเกม่อนที่หาง่ายที่สุด (พบเจอทั่วไป) กับ โปเกม่อนที่หายากที่สุด (เจอน้อยครั้งที่สุด)
		</p>
	</div>
	<div class="row">
		<div class="panel panel-primary">
		  <div class="panel-heading"><h3 class="panel-title">5 อันดับโปเกม่อนที่หาง่ายที่สุด</h3></div>
		  <div class="panel-body">
		    
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-primary">
		  <div class="panel-heading"><h3 class="panel-title">5 อันดับโปเกม่อนที่หายากที่สุด</h3></div>
		  <div class="panel-body">
		    
		  </div>
		</div>
	</div>
</div>

{% include 'includes/footer.html' %}


</body>
</html>
