{% load static %}
{% include 'includes/header.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
	<div class="row">
		<h1>PokeEZ</h1>
		<h1 class="header-small"><small>ระบบวิเคราะห์การปรากฎของโปเกม่อนแต่ละชนิดในแถบทวีปอเมริกา</small></h1>
	</div>
	<div class="row">
		<img src="{% static 'img/app/overview-map.png' %}" alt="Pokemon Heatmap" class="img-thumbnail">
	</div>
	<div class="row">
		<p>
		<b>PokeEZ</b> เป็นระบบวิเคราะห์การปรากฎของโปเกม่อนในเกม <i>Pokemon Go</i> โดยได้นำชุดข้อมูลที่เป็น Open Data มาจาก <a href="https://www.kaggle.com/semioniy/predictemall">Kaggle</a> ซึ่งได้บันทึกข้อมูลการปรากฎของโปเกม่อนในอดีต ประมาณ 293,000 เรคคอร์ด ประกอบไปด้วย พิกัดตำแหน่ง, วัน, เวลา, ลักษณะภูมิประเทศ, เมือง, สภาพอากาศ, อุณหภูมิ, นอกเมือง-ในเมือง, โปเกม่อนชนิดอื่นๆ ที่ปรากฎก่อนหน้า เป็นต้น โดย <i>PokeEZ</i> ได้นำข้อมูลเฉพาะในส่วนของทวีปอเมริกา มาทำการวิเคราะห์หาความสัมพันธ์ระหว่างโปเกม่อนแต่ละตัวกับตัวแปรต่าง ๆ ซึ่งทำให้ได้สถิติที่น่าสนใจ ดังนี้
		</p>
	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA1.png' %}">
		  <div class="caption">
		    <h3 align="center">เมืองที่พบมากที่สุด</h3>
		  </div>
		</div>
		</div>
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA2.png' %}">
		  <div class="caption">
		    <h3 align="center">ช่วงเวลาที่พบ</h3>
		  </div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA3.png' %}">
		  <div class="caption">
		    <h3 align="center">ในเมือง - นอกเมือง</h3>
		  </div>
		</div>
		</div>
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA4.png' %}">
		  <div class="caption">
		    <h3 align="center">สภาพอากาศ</h3>
		  </div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA5.png' %}">
		  <div class="caption">
		    <h3 align="center">โปเกม่อนที่ปรากฎก่อนหน้า</h3>
		  </div>
		</div>
		</div>
		<div class="col-md-6">
		<div class="thumbnail">
		  <img src="{% static 'img/app/DA6.png' %}">
		  <div class="caption">
		    <h3 align="center">เวลาที่พบ</h3>
		  </div>
		</div>
		</div>
	</div>
<!-- 	<div class="row">
		<p>
		<b>PokeEZ</b> เป็นระบบวิเคราะห์การปรากฎของโปเกม่อนในเกม <i>Pokemon Go</i> โดยได้นำชุดข้อมูลที่เป็น Open Data มาจาก <a href="https://www.kaggle.com/semioniy/predictemall">Kaggle</a> ซึ่งได้บันทึกข้อมูลการปรากฎของโปเกม่อนในอดีต ประมาณ 293,000 เรคคอร์ด ประกอบไปด้วย พิกัดตำแหน่ง, วัน, เวลา, ลักษณะภูมิประเทศ, เมือง, สภาพอากาศ, อุณหภูมิ, นอกเมือง-ในเมือง, โปเกม่อนชนิดอื่นๆ ที่ปรากฎก่อนหน้า เป็นต้น โดย <i>PokeEZ</i> ได้นำข้อมูลเฉพาะในส่วนของทวีปอเมริกา มาทำการวิเคราะห์หาความสัมพันธ์ระหว่างโปเกม่อนแต่ละตัวกับตัวแปรต่าง ๆ ซึ่งทำให้ได้สถิติที่น่าสนใจ ดังนี้
		</p>
	</div> -->
</div>

{% include 'includes/footer.html' %}


</body>
</html>
